.header nav a {
    display: block;
    justify-content:flex-end; align-items: end;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
   
nav {
    display: flex;
    justify-content: end;

}
.flex-container {
    display: flex;
    height: 100%;
    padding: 15px;
    gap: 5px;

  }

  .flex-container > div{
    border: 3px solid;
    border-radius: 5px;
    padding: 8px; list-style: none;
  }

ul, 
li {
    list-style: none;
}
